@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0) rotate(6deg);
  }
  50% {
    transform: translateY(-12px) rotate(6deg);
  }
}

@keyframes floatMedium {
  0%, 100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-18px) rotate(-4deg);
  }
}

@keyframes floatFast {
  0%, 100% {
    transform: translateY(0) rotate(8deg);
  }
  50% {
    transform: translateY(-24px) rotate(8deg);
  }
}

.float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}

.float-medium {
  animation: floatMedium 5s ease-in-out infinite;
}

.float-fast {
  animation: floatFast 4s ease-in-out infinite;
}
